body{
     background-color: darkslateblue;
     
}
#canvas-container{
    display:flex;

}
canvas{
    background-color: gray;
    width: 75%;
    height: 750px;
    position:relative;
    z-index: 0;
    
}
#item-container{
    width:25%;
}
div#hero{
    width: 10px;
    height:10px;
    background-color: red;
    position:absolute;
    z-index: 1;
}